h2 { 
  color: #464646;
  direction: ltr;
  display: block;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  font-weight: normal;
  height: 29px;
  line-height: 29px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 0px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 9px;
  text-shadow: white 0px 1px 0px;
  width: 846px;
}

form table.form-table td input {
  padding: 3px !important;
}